<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <title>Document</title>
</head>
<body>
  <div class="max-w-2lg ">
      <div class="lg:grid grid-cols-2 gap-2 my-12 mx-10 justify-center ">
        <div class=" w-11/12 mx-7 ">
          <h1 class="mx-1 text-2xl font-bold text-gray-700 py-5" >Login</h1>
          <div class="bg-blue-600 md:w-full md:shrink-0">
            <form class="mx-12 py-10" >
              <span class="text-white/75 ">username</span> 
              <br/>
              <input class="pt-2 pb-2 pl-1  w-11/12 my-3" type="text" name="username" placeholder="Enter username" ngModel> 
              <br/> 
              <span class="text-white/75 my-6">Password</span>
              <br/>
              <input class="pt-2 pb-2 pl-1 w-11/12 my-3" type="password" name="password" placeholder="Enter password">
              <br/> 
              <input type="checkbox"><span class="text-white/75 pr-2 pl-2">Remember me</span> 
              <a href="#" class="text-white/75 mx-6">Lost password</a>
              <button class="bg-green-500/100 text-white py-3 px-10 md:px-5 my-4">Log in</button> 
            </form>
          </div>
        </div>
        <div class=" w-11/12 mx-7 ">
          <h1 class="mx-1 text-2xl font-bold text-gray-700 py-5" >signup</h1>
          <div class="bg-gray-300/40 md:w-full md:shrink-0">
            <form class="mx-12 py-10 lg:flex justify-between" >
              <div>
                <span class="text-black/75 ">username</span> 
                <br/>
                <input class="pt-2 pb-2 pl-1  w-11/12 my-3" type="text" name="username" placeholder="Enter username" ngModel> 
                <br/> 
                <span class="text-black/75 ">email</span> 
                <br/>
                <input class="pt-2 pb-2 pl-1  w-11/12 my-3" type="email" name="email" placeholder="Enter your Email" ngModel> 
              </div>
              <div> 
 
                <span class="text-black/75 my-6">Password</span>
                <br/>
                <input class="pt-2 pb-2 pl-1 w-11/12 my-3" type="password" name="password" placeholder="Enter password">
                <br/> 
                <span class="text-black/75 my-6">password again</span>
                <br/>
                <input class="pt-2 pb-2 pl-1 w-11/12 my-3" type="password" name="password" placeholder="Confirm password">
                <button class="bg-green-500/100 text-white py-3 px-10  my-4">register</button> 
              </div>
            </form>
          </div>
        </div>
       
      </div>
      <div>
        <ul class="flex">
          <li><a href="#"><img class="w-16 px-3 " src="assets/img/facebook.png"></a></li>
          <li><a href="#" class="flex text-xl"><img class="w-10 px-3" src="assets/img/twitter.png" >share</a></li>
          <li><a href="#" class="flex text-xl"><img class="w-10 px-3" src="assets/img/pinterest.png">share</a></li>
          <li><a href="#" class="flex text-xl"><img class="w-10 px-3" src="assets/img/linkedin.png">share</a></li>
          <li><a href="#" class="flex text-xl"><img class="w-10 px-3" src="assets/img/digg.png">share</a></li>
        </ul>
      </div>
  </div>
 
</body>
</html>